@import "mixins";
@iconSpritePath: "../bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../bootstrap/img/glyphicons-halflings-white.png";

body {
	background-color:#000;
}







.slide {
	position:relative;
	z-index:50;
	.box-shadow(0px, 3px, 2px, rgba(0,0,0,0.2));
	background-color:#C7F464;
	.gradient(#B9D7D9,#FFF);
	color:#556270;
	padding-top:80px;
	padding-bottom:80px;
	.date {
		font-weight: bold;
	}
	h1 {
		color:#458DAC;
		.text-shadow(0px, 1px, 0px, rgba(255,255,255,0.9));
		margin:0px 0px 40px 0px;
		font-size:2.5em;
		line-height:1.3em;
	}
	h2 {
		font-size:1.4em;
		line-height:1.4em;
		margin:1.5em 0 1em;
	}
	p {
		font-size:1.2em;
		line-height:1.5em;
	}
	ol, ul {
		font-size:1.2em;
		li {
			line-height:1.6em;
			margin:1em 0px;
		}
	}
	ul.tags {
		list-style:none;
		display:none;
		margin:1em 0px;
		padding:0px;
		li {
			display:inline-block;
			margin:0px 2px 2px 0px;
			a {
				color:#FFF;
			}
		}
	}
	ul.share {
		list-style:none;
		text-align:left;
		margin:0px;
		padding:0px;
		li {
			margin:0px;
			padding:0px;
			span {
				color:#556270;
			}
			
		}
	}
}

#pagination {
	background-color:#333;
	margin:0px;
}

#footer {
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100px;
	padding-top:30px;
	color:#666;
	ul {
		list-style:none;
		margin:0px;
		padding:0px;
	}
}




#sideBar .content {
	position:fixed;
	background-color:#000;
	top:30px;
	z-index:100;
	padding:40px 0px;
	text-align:center;
	a {
		display:inline-block;
	}
}

#navigation {
	line-height:30px;
	height:30px;
	color:#999;
	z-index:80;
	background-color:#FFF;
	border-bottom:1px solid #999;
}