@import "../bootstrap/less/bootstrap";
@import "mixins";
@iconSpritePath: "../bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../bootstrap/img/glyphicons-halflings-white.png";

body {
}

.slide {
	position:relative;
	z-index:50;
	a.next {
		font-size:1.2em;
		font-weight:bold;
	}
}


#navigation {
	position:fixed;
	top:50%;
	left:20px;
	margin-top:-100px;
	z-index:100;
	background-color:rgba(255,255,255,0.8);
	.box-shadow(0px, 0px, 2px, rgba(0,0,0,0.2));
	ul {
		list-style:none;
		margin:0px;
		padding:0px;
		border:1px solid #DDD;
		li {
			border-bottom:1px solid #EEE;
			&:last-child {
					border-bottom:0px;
			}
			a {
				display:block;
				padding:10px 25px;
				text-decoration:none;
				&:hover {
					background-color:#EEE;
					text-decoration:none;
				}
			}
		}
	}
}


#topLinks {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	height:30px;
	background-color:rgba(0,0,0,0.8);
	z-index:100;
	ul {
		list-style:none;
		margin:0px;
		padding:0px;
		text-align:right;
		li {
			display:inline-block;
			border-left:1px solid #000;
			height:30px;
			&:first-child {
					border-left:0px;
			}
			a {
				display:block;
				line-height:30px;
				padding:0px 15px;
				text-decoration:none;
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}